<!DOCTYPE html>
<html>
    <head>
        <img width="160" height="90" src="/img/logo.png" alt="temp logo">
        <title>Borough Prep</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>